<!DOCTYPE html>
<html>
<body>


<% cart.forEach(function (cart) { %>
    <li>  
        <h1>Name: <%= cart.name %></h1>  
    </li> 
    <li>  
        <h1>Decription: <%= cart.decription %></h1>  
    </li> 
    <li>  
        <h1>Price: <%= cart.price %></h1>  
    </li>  
           
    <li>  
        <h1>---------------------</h1>  
    </li> 
<% }) %>
<form action="/cart" method="DELETE">
     <input type="submit" name="submit" />
</form>

</body>
</html>